.tickerContainer{
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(247, 215, 215, 0.075);
  padding: 20px;
  margin-left: 70px;
}

.tickerMainContainer{
    display: flex;
    flex-direction: column;
    text-align: center;


}

.tickerHeader{
  
  margin-left: 150px;
  text-align: left;
  font-size: 30px;
  margin-top: 10px;
  
  
  margin-right: 50px;
  height: 40px;
  

}
.tickerItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
.tickerItemSymbol{
      height: 30px;
      width:100px;
      border-radius: 4px;
      font-size: 15px;
      cursor: pointer;
      border: 1px solid #edeff1;
      background-color:#FFFFFF;
      color:black;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

      

}


.tickerItemText{
    
padding:10px;
}